@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#000;
  color:#fff;
}

input:focus,
button:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0 0 5px blue;
}

.lr-stripe-bg {
  background: linear-gradient(
          45deg,
          #000 0%,
          #000 33.33%,
          #660000 33.33%,
          #660000 66.66%,
          #ffffff 66.66%,
          #ffffff 100%
  );
}

.rl-stripe-bg {
  background: linear-gradient(
          135deg,
          #000 0%,
          #000 33.33%,
          #660000 33.33%,
          #660000 66.66%,
          #ffffff 66.66%,
          #ffffff 100%
  );
}




.bg-darkGreen {
  background-color: #4d5d53;
}

.custom-bg {
  background-color: #000;
}


