@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or app.css */

/* Import the font file */
@font-face {
    font-family: 'Sans Mono';
    /* Add other formats here if you have them, e.g., woff, ttf */
}

/* Apply the font globally to the body or specific elements */
body {
    font-family: 'Roboto', sans-serif;
}


input:focus,
button:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0 0 5px blue;
}

.lr-stripe-bg {
  background: linear-gradient(
          45deg,
          #000 0%,
          #000 33.33%,
          #660000 33.33%,
          #660000 66.66%,
          #ffffff 66.66%,
          #ffffff 100%
  );
}

.rl-stripe-bg {
  background: linear-gradient(
          130deg,
          #000 0%,
          #000 33.33%,
          #660000 33.33%,
          #660000 66.66%,
          #ffffff 66.66%,
          #ffffff 100%
  );
}




.bg-darkGreen {
  background-color: #4d5d53;
}

.custom-bg {
  background-color: #000;
}


